.hero {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $hero-bcg;
    background-image: linear-gradient(to top,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/hero/bg-s.jpg');

    @include mq(retina) {
        background-image: linear-gradient(to top,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero/bg-s@2x.jpg');
    }

    @include mq(tablet) {
        background-image: linear-gradient(to top,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero/bg-m.jpg');

        @include mq(retina) {
            background-image: linear-gradient(to top,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/hero/bg-m@2x.jpg');
        }
    }

    @include mq(desktop) {
        background-image: linear-gradient(to top,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero/bg-l.jpg');
        padding: 200px 0;

        @include mq(retina) {
            background-image: linear-gradient(to top,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/hero/bg-l@2x.jpg');
        }
    }



    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 0px;

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
    }



    &__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;

        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #FFFFFF;

        @media screen and (min-width:768px) {
            line-height: 1.61;
            width: 360px;
            height: 84px;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (min-width:1200px) {
            margin-bottom: 30px;

            width: 696px;
            height: 120px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;


            color: $filter-secondarycolor;
        }
    }

}