.header {


    border: 1px solid #ececec;
    background-color: $filter-secondarycolor;
}

.header-nav {
    &logo {
        margin: auto;
    }
}

.nav-flex {
    display: flex;
    align-items: center;
}

.logo {
    align-items: center;
    text-align: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-decoration: none;

    &-white {
        color: $filter-secondarycolor;
    }

    &-black {
        color: $primary-text;
    }

    &-web {
        color: $accent-color;
    }
}

.site-nav {


    @media screen and (min-width:768px) {
        display: flex;
        margin-left: 88px;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        margin-left: 93px;
    }

    display: none;


    &__item {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-right: 50px;
    }

    &__item:last-child {
        margin-right: 0px;
    }

    &__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $primary-text;
        text-decoration: none;
        transition: color $wait $caubic;

        &:hover,
        &:focus {

            color: $accent-color;
        }
    }

    &__link--current {
        color: $accent-color;
        transition: color $wait $caubic;

    }

    &__link--current::after {
        color: $accent-color;
        position: absolute;
        content: '';
        top: 100%;
        width: 100%;
        display: block;
        height: 3px;
        background-color: $accent-color;
        border-radius: 3px;
    }
}

.contact-list {

    @media screen and (min-width:768px) {
        display: block;
        padding-top: 21px;
        padding-bottom: 21px;
        margin-left: 70px;
    }

    @media screen and (min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        margin-left: 318px;
        text-align: center;
    }

    display: none;



    &__item {



        width: 161px;
    }

    &__item:last-child {
        margin-right: 0px;
    }

    &__item1 {


        @media screen and (min-width:1200px) {
            margin-top: 0px;
        }

        width: 142px;
    }

    &__link {
        @media screen and (min-width:768px) {
            font-size: 12px;
            line-height: 1.14;
        }

        @media screen and (min-width:1200px) {
            font-size: 14px;
        }

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $secondary-text;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
        transition: color $wait $caubic;
    }

    &__icon:hover,
    &__icon:focus,
    &__link:hover,
    &__link:focus {
        color: $accent-color;
    }
}

.mob-menu {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    padding: 15px 10px 48px 40px;
    z-index: 999;

    @media screen and (max-width:479px) {

        left: 0px;
    }

    &-list {
        margin-bottom: auto;
        height: 50vh;



        &__social {
            margin-top: 60px;
            display: flex;

            & #skobka,
            & #skobka1,
            & #skobka2 {
                margin-left: 10px;
                color: #21212133;


                transform: rotate(90deg);
            }

            &-item:not(:last-child) {
                margin-right: 10px;

            }

            & .link {
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: $accent-color;

                &:hover,
                &:focus {
                    color: $accent-color;
                }

                @media screen and (max-width:479px) {
                    font-size: 12px;
                }
            }


        }

        &__tel {
            font-size: 34px;
            line-height: 1.8;
            letter-spacing: 0.02em;
            color: #757575;

            &:hover,
            &:focus {
                color: $accent-color;
            }
        }

        &__mail {
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.02em;

            color: #757575;

            &:hover,
            &:focus {
                color: $accent-color;
            }


        }


        &__link {
            font-weight: 500;
            font-size: 40px;
            line-height: 1.8;
            letter-spacing: 0.02em;

            color: #212121;

            &:hover,
            &:focus {
                color: $accent-color;
            }

            &--current {
                color: $accent-color;
            }
        }
    }
}

.menu-open {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #212121;
    border: none;
    margin-left: auto;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-close {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    color: #212121;
    border: none;
    margin-left: auto;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}


.mob-menu.is-hidden {

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}