.team {
    background-color: $primary-bcg;
    padding-top: 60px;
    padding-bottom: 60px;

    & img {
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        padding-top: 94px;
    }


    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


        &__social {
            @media screen and (max-width:480px) {
                width: 100%;
                height: 100%;
                margin: auto;
                padding-bottom: 24px;
            }

            @media screen and (min-width:768px) {
                width: 206px;
                height: 44px;
                margin: auto;

            }

            @media screen and (min-width:1200px) {
                width: 206px;
                height: 44px;
                margin: auto;

            }
        }

        @media screen and (min-width:768px) {
            display: block;
            columns: 2;
        }

        @media screen and (min-width:1200px) {
            display: flex;
        }

    }

    &-list h3 {
        padding-top: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;

    }

    &-list p {
        margin-top: 10px;
        margin-bottom: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-text;
    }

    &-list__item {
        margin-bottom: 30px;
    }



    &-list__item {
        width: 450px;

        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: $filter-secondarycolor;



        @media screen and (min-width:768px) {


            width: 354px;
            height: 536px;
        }


        @media screen and (min-width:1200px) {
            width: 270px;
            height: 428px;
        }
    }



    &__wraper:not(:last-child) {
        margin-right: 10px;
    }

    @media screen and (min-width:1200px) {
        &-list__item:not(:last-child) {
            margin-right: 30px;
        }

    }

    &-icons {
        display: flex;
        list-style-type: none;
        width: 206px;
        height: 44px;
        margin: auto;

        &--basement .team__link {
            color: #ffffff;
            background-color: #ffffff10;
            transition: background-color $wait $caubic, color $wait $caubic;
        }
    }



    &-icon {
        width: 20px;
        height: 20px;
        margin: 12px;
        fill: currentColor;

    }

}


.social-link {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    color: #afb1b8;
    transition: background-color $wait $caubic, color $wait $caubic;


    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $filter-secondarycolor;
    }
}


.team__link {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 50%;
    color: #afb1b8;
    transition: background-color $wait $caubic, color $wait $caubic;


    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $filter-secondarycolor;
    }
}