 $accent-color: #2196f3;
 $primary-text: #212121;
 $secondary-text: #757575;
 $footer-bcg: #2f303a;
 $primary-bcg: #f5f5f5;
 $footer-linkcolor: rgba(255, 255, 255, 0.6);
 $footer-adrescolor: #ffffff;
 $filter-secondarycolor: #ffffff;
 $header-logocolor: #000000;
 $hero-bcg: #2f303a;
 $btns-color: #f5f4fa;
 $caubic: cubic-bezier(0.4, 0, 0.2, 1);
 $wait: 250ms;

 body {
     color: $primary-text;
     background-color: $filter-secondarycolor;
     font-family: Roboto, sans-serif;
 }

 img {
     display: block;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ul {
     margin: 0;
     padding: 0;
 }

 .container {

     @media screen and (min-width:480px) {
         width: 480px;
     }

     @media screen and (min-width:768px) {
         width: 768px;
     }

     @media screen and (min-width:1200px) {
         width: 1200px;
     }

     margin-left: auto;
     margin-right: auto;
     padding-left: 15px;
     padding-right: 15px;

     /* outline: 2px solid tomato; */
 }

 .lst {
     list-style: none;
 }

 .link {
     text-decoration: none;
 }

 .titles {
     font-size: 28px;
     line-height: 1.8;
     text-align: center;
     letter-spacing: 0.03em;
     margin-bottom: 30px;


     @media screen and (min-width:1200px) {
         margin-bottom: 50px;
         font-weight: 700;
         font-size: 36px;
         line-height: 1.17;
     }
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .button {
     @media screen and (min-width:480px) {
         margin-top: 30px;
     }

     display: inline-block;
     min-width: 200px;
     border-radius: 4px;
     border: 1px solid transparent;
     padding: 10px 32px;

     font-family: 'Roboto',
     sans-serif;
     font-weight: 700;
     font-size: 16px;
     line-height: 1.88;
     align-items: center;
     text-align: center;
     letter-spacing: 0.06em;
     cursor: pointer;

     background-color: $accent-color;
     color: $filter-secondarycolor;
     cursor: pointer;
     transition: color $wait $caubic;

     &:hover,
     &:focus {
         color: $accent-color;
         background-color: $filter-secondarycolor;
     }

 }